{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br><br><br><br><br>
    <table style="margin-left:auto;margin-right:auto;width: 50%;">
        <tr>
            <td style="font-weight:bold;">Camp Name</td>
            <td style="font-weight:bold;">Description</td>
        </tr>
        {% for cam in camps %}
        <tr>
            <td>{{cam.campname}}</td>
            <td>{{cam.description}}</td>
        </tr>
        {% endfor %}
    </table>
    <br><br><br><br>

{% endblock %}
