{% extends 'base.html' %}
{% load static %}
{% block content %}


<br><br><br><br><br><br><br><br><br>

<form name="createhike" method="post" action="{% url 'storehike' %}">
    {% csrf_token %}
    <br><br>
    <br><br>
    <br><br>
    <label for='hike_name'>Enter the hike name:</label>
    <input type="text" name='hike_name' id='hike_name'> 
    <br><br>     
    <label for='elevation_gain'>Enter the elevation gain:</label>
    <input type="number" name="elevation_gain" id="elevation_gain">
    <br><br>
    <label for='length'>Enter the length:</label>
    <input type="number" name="length" id="length" step="0.01">
    <br><br>     
    <label for='description'>Enter the description:</label>
    <input type="text" name='description' id='description'> 
    <br><br>   
    <label for='bathroom'>Is there a bathroom?:</label>
    <select name='bathroom' id='bathroom'> 
        <option value='True'>Yes</option>
        <option value='False'>No</option>
    </select>     
    <br><br>  
        <label for='water'>Is there drinkable water?:</label>
    <select name='water' id='water'> 
        <option value='True'>Yes</option>
        <option value='False'>No</option>
    </select>       
    <br><br>     
    {% comment %} <label for='firepit'>Is there a firepit?:</label> {% endcomment %}
    {% comment %} <select name='firepit' id='firepit'> 
        <option value='True'>Yes</option>
        <option value='False'>No</option> 
    </select>   {% endcomment %}
    <br><br>      
    <label for='address'>Enter the address:</label>
    <input type="text" name='address' id='address'> 
    <br><br>   
    <label for='city'>Enter the city:</label>
    <input type="text" name='city' id='city'> 
    <br><br>   
    <label for='state'>Enter the state:</label>
    <input type="text" name='state' id='state'> 
    <br><br>   
    <label for='zip'>Enter the zip:</label>
    <input type="number" name='zip' id='zip'> 
    <br><br>   
    <label for='difficulty'>Enter the difficulty:</label>
    <input type="text" name='difficulty' id='difficulty'>
    <br><br>   
    <button type="submit">Create Hike</button>
</form>
{% endblock %}