
{% load static %}
{% block content %}
<form name="createcamp" method="post" action="{% url 'storecamp' %}">
    {% csrf_token %}
    <br><br>
    <label for='sName'>Enter the camp site name:</label>
    <input type="text" name='sName' id='sName' required> 
    <br><br>         
    <label for='sDescription'>Enter the description:</label>
    <input type="text" name='sDescription' id='sDescription' required> 
    <br><br>   
    <label for='iPrice'>Enter the price of the camp site:</label>
    <input type="number" name='iPrice' id='iPrice' min=0 required> 
    <br><br>   
    <label for='bBathroom'>Is there a bathroom?:</label>
    <select name='bBathroom' id='bBathroom' required> 
        <option value='True'>Yes</option>
        <option value='False'>No</option>
    </select>     
    <br><br>  
        <label for='bWater'>Is there drinkable water?:</label>
    <select name='bWater' id='bWater' required> 
        <option value='True'>Yes</option>
        <option value='False'>No</option>
    </select>       
    <br><br>     
    <label for='bFire'>Is there a firepit?:</label>
    <select name='bFire' id='bFire' required> 
        <option value='True'>Yes</option>
        <option value='False'>No</option> 
    </select>  
    <br><br>      
    <label for='sAddress'>Enter the address:</label>
    <input type="text" name='sAddress' id='sAddress' required> 
    <br><br>   
    <label for='sCity'>Enter the city:</label>
    <input type="text" name='sCity' id='sCity' required> 
    <br><br>   
    <label for='sState'>Enter the state:</label>
    <input type="text" name='sState' id='sState' required> 
    <br><br>   
    <label for='iZip'>Enter the zip:</label>
    <input type="number" name='iZip' min=11111 max=99999 id='iZip ' required> 
    <br><br>     
    <button type="submit">Create Camp Site</button>
</form>
{% endblock %}